{% extends 'base.html.twig'%}

{% block title 'Mon agence immobiliére' %}

{% block body %}


    <div class="jumbotron text-center">

 <div class="container">
     <h3>La meilleurs agence</h3>
     <p>annonces immobilières</p>
 </div>
    </div>
{% endblock %}