{% extends 'base.html.twig' %}

{% block title 'voir nos biens' %}

{% block body %}

    <div class="jumbotron text-center">

        <div class="container">

            <p>574 annonces immobilières</p>
        </div>
    </div>
{% endblock %}